In [1]:
# One-Sample T-Test

import pandas as pd
from scipy.stats import ttest_1samp
import matplotlib.pyplot as plt

In [2]:
ratings = pd.DataFrame({'Rating': [3.2, 3.8, 4.0, 3.5, 3.9, 4.2, 3.4, 3.6, 3.1, 4.0]})
ratings

   Rating
0     3.2
1     3.8
2     4.0
3     3.5
4     3.9
5     4.2
6     3.4
7     3.6
8     3.1
9     4.0

In [3]:
t_test,p_value=ttest_1samp(ratings['Rating'],3.5)
t_test,p_value

(1.4595277079319664, 0.1784240503976079)