In [ ]:
https://pawan-r4ju.github.io/Question-Tracker/

In [2]:
#REVERSE STRING

def reverse_string(n):
    return n[::-1]
reverse_string('nikita')

'atikin'

In [2]:
#PALLINDROME

def pallindrome(s):
    return s==s[::-1]
print(pallindrome('racecar'))
print(pallindrome('hello'))

True
False

In [3]:
#FACTORIAL NUMBERS

def fact(n):
    if n==0:
        return 1
    else :
        return n*fact(n-1)
fact(5)

120

In [4]:
#FIBONACICIS NUMBER

def fib(n):
    sequence=[0,1]
    for i in range(2,n):
        fibonaci=sequence[i-1]+sequence[i-2]
        sequence.append(fibonaci)
    return sequence
print(fib(50))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [5]:
# FIND THE LARGEST ELEMENT IN A LIST

def largest_number(list):
    large=list[0]
    for num in list[1:]:
        if num > large :
            large = num
    return large
largest_number([1,4,9,3,11,3])

11

In [6]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
is_prime(3)

True

In [7]:
# REMOVE DUPLIOCATES FROM A LIST

def duplicates_remove(lst):
    return list(set(lst))
duplicates_remove([1,2,6,2,7,2,8,7,6,1,7,4,9,3,7])

[1, 2, 3, 4, 6, 7, 8, 9]

In [8]:
#counts vowels in string

def count_vowels(s):
    vowels='aeiouAEIOU'
    count=0
    for char in s:
        if char in vowels:
            count+=1
    return count
count_vowels('nikita')

3

In [9]:
def sorting(lst):
    for i in range(len(lst)):
        for j in range(len(lst)-1-i):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1] = lst[j+1],lst[j]
    return lst
sorting([2,9,5,8,1,4])

[1, 2, 4, 5, 8, 9]

In [10]:
def find_missing_number(lst, n):
    total_sum = n * (n + 1) // 2
    return total_sum - sum(lst)
find_missing_number([1,4,5,2,7],3)

-13

In [11]:
# CHECK TWO STRINGS ARE ANAGRAMS OR NOT

def string_ana(s1,s2):
    return (s1,s2)
string_ana('nikita','itanik')

('nikita', 'itanik')

In [12]:
def string_ana(s1,s2):
    return sorted(s1)==sorted(s2)
string_ana('nikita','itanik')

True

In [13]:
def find_pairs(nums,target):
    pairs=[]
    seen=set()
    for num in nums:
        diff=target-num
        if diff in seen :
            pairs.append((diff,num))
        seen.add(num)
    return pairs
nums=[1,5,7,-1,5]
target=6
print(find_pairs(nums,target))

[(1, 5), (7, -1), (1, 5)]

In [27]:
# HOW TO CHECK LEAP YEAR
year=int(input('enter a year'))
if (year%400==0) and (year%100==0):
    print("{0} is leap year".format(year))
elif (year%400==0) and (year%100 !=0):
    print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))

enter a year2000
2000 is leap year

In [28]:
# HOW TO CHECK LEAP YEAR
year=int(input('enter a year'))
if (year%4==0) and (year%1==0):
    print("{0} is leap year".format(year))
elif (year%4==0) and (year%1 !=0):
    print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))

enter a year2000
2000 is leap year

In [29]:
# ARMSTRONG NUMBER 

num=int(input('enter a number'))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if num==sum :
    print('it is armstrong number')
else:
    print('it is not armstrong number')

enter a number153
it is armstrong number

In [30]:
s=input('enter a string :-')
rev_s="".join(reversed(s))
if s == rev_s:
    print('it is a pallindrome')
else :
    print('it is not a pallindrome')

enter a string :-jhgfd
it is not a pallindrome

In [31]:
# CHECK PRIME FACTOR

def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
is_prime(4)

False

In [32]:
num=int(input('enter a number'))
fact=1
if num<0:
    print('Invalid')
elif num==0:
    print('factorial is 0 and 1')
else :
    for i in range(1,num+1):
        fact=fact*i
        print(fact)

enter a number8
1
2
6
24
120
720
5040
40320

In [33]:
import numpy as np
num=np.random.randint(3,100,5)
num

array([82, 23, 46, 79, 60])

In [34]:
type(num)

numpy.ndarray

In [35]:
n=np.random.uniform(1,100)
n

4.905289712240624

In [36]:
import random
s=random.randrange(0,10,2)
s

2

In [37]:
numlist=random.sample(range(1,100),10)
numlist

[36, 22, 43, 80, 6, 10, 31, 50, 47, 9]

In [19]:
# HOW TO CHECK FIBONACCI SERIES

def fibonacci(n):
    sequence=[0,1]
    for i in range(2,n):
        fib=sequence[i-1]+sequence[i-2]
        sequence.append(fib)
    return sequence
fibonacci(int(input('enter a number')))

# TIME COMPLEXITY IS = O(n)

enter a number3

[0, 1, 1]

In [39]:
# HOW TO FIND THE SQUARE ROOT IN PYTHON

n=int(input('enter a number'))
n_sqrt=n**0.5
print((n,n_sqrt))

enter a number87
(87, 9.327379053088816)

In [40]:
import cmath
n=1+3j
n_sqrt=cmath.sqrt(n)
print((n,n_sqrt.real,n_sqrt.imag))

((1+3j), 1.442615274452683, 1.0397782600555705)

In [42]:
# INTER CHANGE THE LAST ELEMENT TO FIRST AND FIRST ELEMENT TO LAST

a=[]
n=int(input('enter a number'))
for x in range(0,n):
    element=int(input('enter element :'))
    a.append(element)
a[0],a[len(a)-1]=a[len(a)-1],a[0]
print(a)

enter a number1
enter element :2
[2]


n=int(input('enter a number'))
for x in range(0,n):
    element=int(input('enter element :'))
    a.append(element)
temp=a[0]
a[0]=a[len(a)-1]
a[len(a)-1]=temp
print(a)

In [43]:
try:
    # Code that may raise an exception
    num = int(input("Enter a number: "))
    print(f"Reciprocal: {1 / num}")
except ValueError:
    # Handling a ValueError (e.g., if input is not an integer)
    print("You must enter a valid number!")
except ZeroDivisionError:
    # Handling division by zero
    print("Cannot divide by zero!")
else:
    # Executes only if no exceptions were raised
    print("Operation completed successfully.")
finally:
    # Executes no matter what (exception or not)
    print("Program ended.")

Enter a number: 3
Reciprocal: 0.3333333333333333
Operation completed successfully.
Program ended.

In [44]:
s1='NIKITA TAMBOLE'
s2=''
for i in s1:
    s2=i+s2
    print(s1)
    print(s2)

NIKITA TAMBOLE
N
NIKITA TAMBOLE
IN
NIKITA TAMBOLE
KIN
NIKITA TAMBOLE
IKIN
NIKITA TAMBOLE
TIKIN
NIKITA TAMBOLE
ATIKIN
NIKITA TAMBOLE
 ATIKIN
NIKITA TAMBOLE
T ATIKIN
NIKITA TAMBOLE
AT ATIKIN
NIKITA TAMBOLE
MAT ATIKIN
NIKITA TAMBOLE
BMAT ATIKIN
NIKITA TAMBOLE
OBMAT ATIKIN
NIKITA TAMBOLE
LOBMAT ATIKIN
NIKITA TAMBOLE
ELOBMAT ATIKIN

In [45]:
#Reverse a Linked List
l1=[1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [46]:
#Reverse a Linked List
l1=[1,2,3,4,5]
l1_reverse=l1[::-1]
print(l1_reverse)

[5, 4, 3, 2, 1]

In [47]:
#Two Sum

nums = [2, 7, 11, 15]
target = 9

for i, num in enumerate(nums):
    complement = target - num
    if complement in nums[:i]:
        result = [nums.index(complement), i]
        break

print(result)  # Output: [0, 1]

[0, 1]

In [48]:
s = "abcabcbb"

# Initialize variables
start = 0
max_length = 0
char_index = {}

# Loop through the string
for i, char in enumerate(s):
    # If character is already in the window, update the start
    if char in char_index and char_index[char] >= start:
        start = char_index[char] + 1

    # Update character's index and calculate the length
    char_index[char] = i
    max_length = max(max_length, i - start + 1)

print(max_length)  # Output: 3

3

In [16]:
s = "abcabcbb"
char_count = {}
for char in s:
     if char in char_count:
         char_count[char] += 1 
     else:
        char_count[char] = 1
max_char = 0
for count in char_count.values():
    
    if count > max_char: 
        max_char = count 
print(max_char)

4

In [17]:
nums1 = [1, 3, 5]
nums2 = [2, 4, 6]

i = j = 0
merged = []

while i < len(nums1) and j < len(nums2):
    if nums1[i] < nums2[j]:
        merged.append(nums1[i])
        i += 1
        print(merged)
    else:
        merged.append(nums2[j])
        j += 1
        print(merged)

merged.extend(nums1[i:])
merged.extend(nums2[j:])

print(merged)  # Output: [1, 2, 3, 4, 5, 6]

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [18]:
type(nums1)

list

In [19]:
n=[[1, 2], [3, 4], [[5, 6], 8], 7]
result=[]
def sort_array(n):
    for i in n:
        if type(i)==list:
            sort_array(i)
        else :
            result.append(i)
sort_array(n)
print(result)

[1, 2, 3, 4, 5, 6, 8, 7]

In [53]:
def fizz_buzz(n):
    for i in range(1, n + 1):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

# Example Usage
fizz_buzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [20]:
nums=[3,4,-1,1]
nums=set(nums)
smallest=1
while smallest in nums:
    smallest+=1
print(smallest)

2

In [21]:
def add_parameters(*args):
    return sum(args)

# Example Usage
result = add_parameters(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"The sum of the parameters is: {result}")  # Output: 55

The sum of the parameters is: 55

In [22]:
def pallindrome(s):
    return s==s[::-1]
print(pallindrome('racecar'))

True

In [57]:
def max_subarray_sum(nums):
    max_current = max_global = nums[0]
    for num in nums[1:]:
        max_current = max(num, max_current + num)
        if max_current > max_global:
            max_global = max_current
    return max_global

In [58]:
max_subarray_sum([1,2,3,4,5])

15

In [59]:
num=[1,2,-4,-3]
max_current = max_global = num[0]
for i in num[1:]:
    max_current = max(i, max_current + i)
    if max_current > max_global :
        max_global = max_current
print(max_global)

3

In [60]:
def two_sum(nums, target):
    seen = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in seen:
            return [seen[complement], i]
        seen[num] = i
two_sum(([1,2,4,5,9]),9)

[2, 3]

In [61]:
num = [1,2,4,5,9]
target = 9
seen={}
for i , j in enumerate(num):
    complement = target - j
    if complement in seen:
        print([seen[complement],i])
    seen[j]=i

[2, 3]

In [23]:
def missing_number(num):
    n=len(num)
    return n*(n+1)//2 - sum(num)
missing_number([3,0,1])

2

In [63]:
def reverse_string(s):
    return s[::-1]
reverse_string('hello')

'olleh'

In [64]:
def is_palindrome(s):
    return s == s[::-1]
is_palindrome('ollo')

True

In [65]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
are_anagrams('silent','listen')

True

In [66]:
s = "abcabcbb" 
char_count = {}   
for char in s:
    if char in char_count: 
        char_count[char] += 1 
    else: char_count[char] = 1   
    max_char = 0 
    for count in char_count.values(): 
        if count > max_char: 
            max_char = count 
print(max_char)

4

In [67]:
s = "abcabcbb"
char_count = {}

for char in s:
    if char not in char_count:
        char_count[char] = 1

unique_count = len(char_count)

print(unique_count)

3

In [68]:
def second_largest(arr):
    unique_numbers = list(set(arr))
    unique_numbers.sort()
    return unique_numbers[-2]
second_largest([1,3,4,5,0,2])

4

In [69]:
def count_vowels(s):
    count=0
    for char in s.lower():
        if char in 'aeiou':
            count+=1
    return count
count_vowels('hello')

2

# Series objects oin pandas

In [70]:
import pandas as pd

In [71]:
data=[1,2,3,4,5]
series=pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [72]:
type(series)

pandas.core.series.Series

In [73]:
data=[1,2,3,4,5]
series=pd.Series(data,index=['a','b','c','d','e'])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [74]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
b=[]
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
    print(i)
print(b)

11
10
9
8
7
6
5
4
3
2
1
0
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
left=0
right=len(a)-1
while left < right :
    temp=a[left]
    a[left]=a[right]
    a[right]=temp
    right=right-1
    left=left+1
print(a)

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
a=[1,2,3,4,5]
j=6
i=j%len(a)
b=a[i:]+a[:i]
print(b)

[2, 3, 4, 5, 1]

In [77]:
a=[1,1,1]
large=0
secon_large=0
for i in a:
    if i>large :
        second_large=large
        large=i
    elif i<large and i>second_large :
        second_large=i
print(second_large)

0

In [78]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [79]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*',end='')
    print(" ")

*
**
***
****
*****

In [80]:
n=6
for i in range(1,n+1):
    for j in range(1,i):
        print(j,end='')
    print(" ")

1
12
123
1234
12345

In [81]:
n=5
for i in range(1,n+1):
    for j in range(0,i):
        print(i,end='')
    print(" ")

1
22
333
4444
55555

In [82]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print(" ")

*****
****
***
**
*

In [83]:
n=6
for i in range(n,0,-1):
    for j in range(1,i):
        print(j,end="")
    print(" ")

12345
1234
123
12
1

In [84]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********

In [85]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(" ",end="")
    for k in range(2*n-(2*i-1)):
        print('*',end="")
    print()

 *********
  *******
   *****
    ***
     *

In [86]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print('*',end="")
    print()
for i in range(1,n+1):
    for j in range(i):
        print(" ",end="")
    for k in range(2*n-(2*i-1)):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********
 *********
  *******
   *****
    ***
     *

In [87]:
n=6
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print('*',end="")
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print('*',end="")
    print()

     *
    **
   ***
  ****
 *****
******
******
 *****
  ****
   ***
    **
     *

In [88]:
n=5
s=1
for i in range(1,n+1):
    if (i%2==0):
        s=1
    else:
        s=0
    for j in range(1,i+1):
        if (s==0):
            s=1
        else:
            s=0
        print(s,end="")
    print()

1
01
101
0101
10101

In [89]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j%2,end="")
    print()

1
10
101
1010
10101

In [90]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    s=2*(n-i)
    print(" "*s,end="")
    print()

1
12
123
1234
12345

In [91]:
num=int(input('enter a number'))
sum=0
count=0
temp=num
while temp>0:
    digit=temp%10
    #sum=sum+(digit**3)
    count=count+1
    temp=temp//10
print(count)
temp=num
while temp>0:
    digit=temp%10
    sum=sum+pow(digit,count)
    temp=temp//10
if num==sum :
    print('it is armstrong number')
else:
    print('it is not armstrong number')

enter a number3456
4
it is not armstrong number

In [92]:
if -2 > -4:
    print(True)
else:
    print(False)

True

In [93]:
s='The quick brown fox jumps over the lazy dog'
b=s.lower()
print(b)
v='abcdefghijklmnopqrstuvwxyz'
for v in b:
    if v==b:
        print(True)
    else:
        print(False)

the quick brown fox jumps over the lazy dog
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [94]:
def pengram(s):
    alphabet='abcdefghijklmnopqrstuvwxyz'
    s_lowercase=s.lower()
    for ch in alphabet:
        if ch not in s:
            return False
    return True
pen=pengram('dfghjkiuytrdsz')
            
print(pen)

False

In [95]:

def move_zeros(arr):
    zeros=[]
    non_zeros=[]
    for i in arr:
        if i==0:
            zeros.append(i)
        else:
            non_zeros.append(i)
    return non_zeros+zeros
result=move_zeros([0,1,0,3,12])
print(result)

[1, 3, 12, 0, 0]

In [24]:
def move_zeros(arr):
    for i in range(0,len(arr)-1):
        
        if arr[i]!=0 and arr[i+1]==0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
                
            temp1=arr[i] 
            arr[i]=arr[i+1]
            arr[i+1]=temp1
            
        elif arr[i]==0 and arr[i+1]!=0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
                
            temp=arr[i]
            arr[i]=arr[i+1]
            arr[i+1]=temp
        elif arr[i]==0 and arr[i+1]==0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
        
    return arr
result=move_zeros([0,1,0,3,12])
print(result)

# i=0 i+1=1
#'''arr[i]=0 and arr[i+1]=1  temp=0 arr[i]=1 arr[i+1]=0
#arr=[1,0,0,3,12] 
#i=1 i+1=2 arr[i]=0 arr[i+1]=0 
# i=2 i+1=3 arr[i]=0 and arr[i+1]=3 second condition temp=0 arr[i]=3 arr[i+1]=0 
#arr=[1,0,3,0,12]

[1, 12, 3, 0, 0]

In [2]:
def move_zeros(arr):
    for i in range(len(arr) - 1):  # Avoid out-of-range access
        if arr[i] != 0 and arr[i + 1] == 0:  # Non-zero followed by zero
            arr[i], arr[i + 1] = arr[i + 1], arr[i]  # Swap values
        elif arr[i] == 0 and arr[i + 1] != 0:  # Zero followed by non-zero
            arr[i], arr[i + 1] = arr[i + 1], arr[i]  # Swap values
    return arr

result = move_zeros([0, 1, 0, 3, 12])
print(result)

[1, 0, 3, 12, 0]

In [3]:
def move_zeros(arr):
    count=0
    for i in range(0,len(arr)-1):
        if arr[count]==0:
            arr.append(arr[count])
            del arr[count]
        else :
            count=count+1
        
    return arr
result=move_zeros([0,0,1,0,0,3,0,12])
print(result)

#count=0 arr[count]=0 arr[0,0,1,0,3,12,0] delete arr=[0,1,0,3,12,0]
#count=1

[1, 3, 12, 0, 0, 0, 0, 0]

In [4]:
def check_number(n):
    if n%2==0:
        print('even')
    else :
        print('odd')
    return n
result=check_number(3)
print(result)

odd
3

In [5]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True
result=is_prime(7)
print(result)
#n=7

True

In [6]:
def leap_year(year):
    if (year%4==0) and (year%100==0):
        print('leap year')
    elif (year%4==0) and (year%100!=0):
        print('yes')
    else :
        print('Not')
    return year
result=leap_year(2000)
print(result)

leap year
2000

In [7]:
def armstrong(num):
    sum=0
    count=0
    temp=num
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=num
    while temp>0:
        digit=temp%10
        sum=sum+pow(digit,count)
        temp=temp//10
    if num==sum:
        print('armstrong')
    else:
        print('Not')
armstrong(163)

3
Not

In [8]:
def fib(n):
    sequence=[0,1]
    for i in range(2,n):
        fib=sequence[i-1]+sequence[i-2]
        sequence.append(fib)
    return sequence
result=fib(8)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13]

In [9]:
def pallindrome(s):
    return s==s[::-1]
result=pallindrome('racecar')
print(result)

True

In [3]:
#Recursional is conditional break

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(5)
print(result)

120

In [4]:
#Summing Digits of a Number
def sum_number(n):
    
    sum_digit=0
    sum1=0
    while n>0:
        sum_digit=n%10
        n=n//10
        sum1=sum1+sum_digit
    return sum1
sum_number(0.1)

#n=1234 temp=n temp=1234 1234>0 sum_digit=4 n=123 sum1=0+4=4
#n=123 temp=123 123

0.1

In [5]:
#Finding the Greatest Common Divisor (GCD)
def GCD(a,b):
    gcd=0
    n=min(a,b)
    #print(n)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
    return gcd
GCD(48,18)

6

In [6]:
def factroial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factroial(0)

1

In [7]:
def LCM(a,b):
    gcd=0
    n=min(a,b)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
            lcm=(a*b)/gcd
    return lcm
LCM(12,15)

60.0

In [8]:
vowels=('aeiouAEIOU')
def count_vowels(s):
    vowels_count=0
    consanants=0
    for char in s:
        if char in vowels:
            vowels_count=vowels_count+1
        else:
            consanants=consanants+1
    return vowels_count,consanants
count_vowels('hello world')

(3, 8)

In [9]:
vowels = 'aeiouAEIOU'

def count_vowels(s):
    vowels_count = 0
    consonants = 0
    for char in s:
        if char.isalpha():  # Only consider alphabetic characters
            if char in vowels:
                vowels_count += 1
            else:
                consonants += 1
    return vowels_count, consonants

result = count_vowels('hello world')
print(result)

(3, 7)

In [10]:
def reverse_string(s):
    s=list(s)
    left=0
    right=len(s)-1
    while left<right:
        s[left],s[right]=s[right],s[left]
        left=left+1
        right=right-1
    return ''.join(s)
        
reverse_string('programming')

'gnimmargorp'

In [11]:
def reverse_string(s):
    string=""
#     print(s[1::]+s[0])
#     print(s[::-1])
    for i in range(len(s)-1,-1,-1):
        string=string+s[i]
    return string
reverse_string('programming')

'gnimmargorp'

In [12]:
def large_small(a):
    large=float('-inf')
    second_large=float('-inf')
    empty_var='Array is emprty'
    for i in a:
        if i>large:
            second_large=large
            large=i
        elif i<second_large and i>large:
            second_large=i
       # elif large==float('-inf'):
            
    return empty_var
large_small([])

'Array is emprty'

In [13]:
empty_var=""
def large_small(a):
    large=float('-inf')
    second_large=float('-inf')
    for i in a:
        if i>large:
            second_large=large
            large=i
        elif i<second_large and i>large:
            second_large=i
    if large==float('-inf'):
        empty_var="this array is empty"
        print(empty_var) 
    return empty_var
large_small([])

this array is empty

'this array is empty'

In [14]:
a=[]
if not a:
    print('empty')
else:
    print('no')

empty

In [15]:
a=float('-inf') 
b=float('inf')
print(bool(a and b))

True

In [16]:
def bubble_sort(arr):
    n=len(arr)
    print(n)
    for i in range(n-1):
        for j in range(n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
    return arr
bubble_sort([3,1,4,1,5,9])

# BUBBLE SORT

6

[1, 1, 3, 4, 5, 9]

In [17]:
arr=[3,1,4,1,5,9]
for i in range(len(arr)-1):
    print(i)

0
1
2
3
4

In [18]:
dictionary={}
s="i am nikita"
splitting=s.split()
print(splitting)
large_word=max(splitting,key=len)
print(large_word)

['i', 'am', 'nikita']
nikita

In [19]:
dictionary={}
s="i am nikita"
splitting=s.split()
print(splitting)
for i in splitting:
    print(i)
    dictionary[i]=dictionary.get(i,0)+1
print(dictionary)

['i', 'am', 'nikita']
i
am
nikita
{'i': 1, 'am': 1, 'nikita': 1}

In [20]:
large_word=""
s="i am nikita"
splitting=s.split()
print(splitting)
for i in splitting:
    if len(i) > len(large_word):
        large_word=i
print(large_word)

['i', 'am', 'nikita']
nikita

In [21]:
vowels=('aeiouAEIOU')
def count_vowels(s):
    vowels_count=0
    for char in s:
        if char in vowels:
            vowels_count=vowels_count+1
        
    return vowels_count
count_vowels('hello world')

3

In [22]:
def remove_duplicates(arr):
    idx=0
    for i in range(1,len(arr)):
        if arr[i]!=arr[idx]:
            idx=idx+1
            arr[idx]=arr[i]
        else:
            print('no')
    return arr[:idx+1]
arr=[1,2,2,4,5,5,7,7,8]
result=remove_duplicates(arr)            
print(result)

#idx=0 i=1 arr[1]!=arr[0] 1!=2 idx=0+1
#idx=1 i=2 arr[2]!=arr[1] 2!=2  no idx=1+1=2
#idx=2 i=3 arr[3]!=arr[2] 2!=4 idx=2+1=3
#idx=3 i=4 arr[4]!=arr[3] 4!=5 idx=

no
no
no
[1, 2, 4, 5, 7, 8]

In [23]:
def generate_number(number,end=10):
    print(number)
    for i in range(1,end+1):
        print(f"{number} x {i} = {number * i}")
    return number

generate_number(3)

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

3

In [24]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
prime(6)

False

In [25]:
# prime number=1,3,7,11,13,
# A number should not be 0 or 1 and divide itself only
num=[10,30]
num1=[]
def prime_numbers(num):
    for i in range(num[0]+1,num[1]):
        for j in range(2,num[1]):
            if i%j==0:
                break
       # if i%i==0:
            else:
                num1.append(i)
prime_numbers(num)
print(num1)
            

# i=11 j=2 11%2!=0  
# i=21 j=2 21%2==0

[11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 21, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 25, 25, 25, 27, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29]

In [26]:
def prime(n):
    if n <= 1:
        return False
    for k in range(2, n):
        if n % k == 0:
            return False
    return True

num=[10,30]
num1=[]
def prime_numbers(num):
    for i in range(num[0]+1,num[1]):
        if prime(i)==True:
            num1.append(i)
            print(i)
prime_numbers(num)
print(num1)

# i = 11  n=i=+

11
13
17
19
23
29
[11, 13, 17, 19, 23, 29]

In [3]:
# 1,2,3=6

def perfect_number(n):
    result=0
    for i in range(1,n):
        if n%i==0:
            result=result+i
    
    return result 
perfect_number(6)

6

In [40]:
#1+2+3+4+5=15
var=0
for i in range(1,6):
    var=var+i
print(var)

15

In [41]:
def even_sum(n):
    result1=0
    for i in range(n[0],n[1]+1):
        if i%2==0:
            result1=result1+i
    print(result1)
even_sum([1,10])

30

In [42]:
def odd_sum(n):
    result1=0
    for i in range(n[0],n[1]+1):
        if i%2!=0:
            result1=result1+i
    print(result1)
odd_sum([1,10])

25

In [43]:
def odd_numbers(num):
    result2=0
    i=num[0]
    while i<=num[1]:
        if i%2!=0:
            result2=result2+i
        i=i+1
    print(result2)
odd_numbers([1,10])

25

In [44]:
def fib(n):
    seq=[0,1]
    for i in range(2,n):
        fibo=seq[i-1]+seq[i-2]
        seq.append(fibo)
    return seq
fib(5)

[0, 1, 1, 2, 3]

In [46]:
def fibonacci(num):
    n1=0
    n2=1
    next=0
    for i in range(0,num):
        next=n1+n2
        n1=n2
        n2=next
    print('specific number',n1)
fibonacci(5)

# n1=0 n2=1 next=0 i=0 n1=0 next=0+1=1 n1=n2 0=1 n1=1 next=1

specific number 5

In [47]:
def prime(n):
    if n <= 1:
        return False
    for k in range(2, n):
        if n % k == 0:
            return False
    return True

num=20

def prime_numbers(num):
    for i in range(0,num):
        if prime(i)==True:
            print(i)
prime_numbers(num)

# i = 11  n=i=+

2
3
5
7
11
13
17
19

In [48]:
def digit_count(n):
    count=0
    while n>=1:
        n=n//10
        count=count+1
    print(count)
digit_count(12345678)

8

In [49]:
def armstrong(num):
    sum=0
    count=0
    temp=num
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=num
    while temp>0:
        digit=temp%10
        sum=sum+pow(digit,count)
        temp=temp//10
    if num==sum:
        print('armstrong')
    else:
        print('Not')
armstrong(153)

3
armstrong

In [50]:
num=153
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if num==sum:
    print('yes')
else:
    print('No')

yes

In [51]:
def armstrong(n):
    count=0
    sum=0
    temp=n
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=n
    while temp>0:
        digit=temp%10
       # sum=sum+pow(digit,count)
        sum=sum+(digit**count)
        temp=temp//10
    if n==sum:
        print('yes')
    else:
        print('Not')
armstrong(153)

3
yes

In [52]:
n=3
n1=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(n1,end=" ")
        n1=n1+1
    print()

1
2 3
4 5 6

In [53]:
# 4!=3*2*1
#24
# 2+4=6

def fact(n):
    facto=1
    for i in range(1,n+1):
        facto=facto*i
    return facto
def sumoffactorial(n):
    factval=fact(n)
    res=0
    while factval>=1:
        digit=factval%10
        factval=(factval-digit)//10
        res=res+digit
    return res
print(sumoffactorial(5))
#print(fact(5))

3

In [54]:
def factorial(n):
    if n<1:
        return 1
    return n * factorial(n-1)
factorial(5)

120

In [55]:
def pallindrome(s):
    if s==s[::-1]:
        return True
    return False
pallindrome('racecar')

True

In [1]:
# SUBSTRING:= a whole string can be substring and part of string is called substring
# abc=a,b,c,ab,bc,abc
arr=[]
arr1=[]
arr2=[]
def sub_string(s):
    for i in s:
        arr.append(i)
    for j in range(0,len(arr)):
        if j%2==0: 
            arr1.append(arr[j])
        else:
            arr2.append(arr[j])
    return ''.join(arr1),''.join(arr2)
sub_string('abcd')

('ac', 'bd')

In [5]:
arr1=[]
def subarr(s):
    for i in range(0,len(s)):
        for j in range(i+1,len(s)+1):
            arr1.append(s[i:j])
            #print(s[i],s[j]
    return arr1
subarr("cbbd")

def pallindrome(arr1):
    longest_substring=''
    for i in arr1:
        if len(i)>=len(longest_substring) and i==i[::-1]:
            longest_substring=i
            if len(longest_substring)>1:
                
                print(longest_substring)
    #return longest_substring
pallindrome(arr1)
#print(arr1)

bb

In [58]:
a=0
arr=[1,2,7,3]
for i in arr:
    if i>=a:
        a=i
print(a)

7

In [59]:
missing_nu=[]
def missing_number(seq):
    for i in range(1,seq[-1]+1):
        if i not in seq:
            missing_nu.append(i)
    return missing_nu
missing_number([1,4,10])

[2, 3, 5, 6, 7, 8, 9]

In [60]:
a=[1,4,6]
a[-1]

6

In [61]:
missing_nu=[]
def missing_number(seq):
    diff=seq[0]-0
    size=seq[-1]
    for i in range(0,len(seq)):
        if seq[i]-i!=diff:
            while diff<seq[i]-i:
                
                missing_nu.append(i+diff)
                diff=diff+1
    return missing_nu
missing_number([1,4,10])

[2, 3, 5, 6, 7, 8, 9]

In [62]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print(j,end="")
    print()

    3
   222
  11111
 0000000
000000000

In [63]:
print(0/1)

0.0

In [64]:
# Print Pascal's Triangle in Python
from math import factorial

# input n
n = 5
for i in range(n):
    for j in range(n-i+1):

        # for left spacing
        print(end=" ")

    for k in range(i+1):

        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(k)*factorial(i-k)), end=" ")

    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [65]:

def sentence(s):
    var=dict()
    for i in s:
        if i in var:
            var[i]=var[i]+1
        else:
            var[i] = 1     
    return var
sentence('sdq2abkjdsnklkfnsf ')

{'s': 3,
 'd': 2,
 'q': 1,
 '2': 1,
 'a': 1,
 'b': 1,
 'k': 3,
 'j': 1,
 'n': 2,
 'l': 1,
 'f': 2,
 ' ': 1}

In [66]:
# s='aaabbc'
# ans = "a3b2c1"
def s1(s):
    ans=""
    count = 1
    for i in range(0,len(s)-1):
        
        if s[i]==s[i+1]:
            count = count+1
        else:  
            ans = ans + s[i] +str( count)
            count = 1
    ans += s[-1] + str(count)
    return ans
s1('aaabccc')

'a3b1c3'

In [67]:
s='Hello World'
print(s.upper())

HELLO WORLD

In [2]:
# Finding the Median of an Array
import numpy as np
arr = [3, 1, 2, 4, 5] 
print(np.median(arr))

3.0

In [5]:
 
def find_median(arr):
    result=0
    for i in arr:
        result=result+i
    return result//len(arr)
find_median([3, 1, 2, 4, 5])

3

In [2]:
a=6
b=3
print(a+b)

9

In [3]:
# Calculating the Power of a Number
def exponent_number(base,exp):
    return base**exp
exponent_number(2,3)

8

In [12]:
# Anagram:= if two strings are having same length and same alphabets

def anagram(s1,s2):
    if len(s1)!=len(s2):
        return False
    for i in s1:
        if i not in s2:
            return False
    return True
anagram('silent','listen')

False

In [13]:
# Finding the N-th Triangular Number
# It is sum of numbers of points required to form a triangle

def Nth_number(num):
    result=0
    while num>0:
        result=result+num
        num=num-1
    return result
Nth_number(4)

10

In [30]:
# Checking for Perfect Squares
# n**2-(n-1)**2=2*n-1
def sqrt_number(n):
    if n<0:
        return False
    i=0
    while i*i<n:
        i=i+1
    return i*i==n
    
sqrt_number(4)
# n=4 4**2-(4-1)**2=2*4-1 16-(3)**2=8-1  16-9=7 7=7

True

In [13]:
# Finding the Sum of Squares of Digits
def sum_squares(num):
    result=0
    while num>0:
        digit=num%10
        result=result+digit**2
        num=num//10
    return result
sum_squares(123)
        
# num=111 111>0 111%10=1 digit=1 count=1  num=11
# 111/10=11

14

In [73]:
def matrix_problem(n):
    arr1=[]
    count=1
    for i in range(1,n+1):
        for j in range(1,i):
            arr1.append([j]*n)
    print(arr1)
    for i in range(0,n):
        for j in range(0,n):
            arr1[i][j]=count
            count=count+1
    return arr1
matrix_problem(3)

[[1, 1, 1], [1, 1, 1], [2, 2, 2]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
n=3
count=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print(count,end='')
        count=count+1
    print()
    
    
# n=3 count=1 i=1 j=1 count=2 
# i=2 j=2

123
456
789

In [76]:
n=3
count=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end='')
        count=count+1
    print()

***
***
***

In [8]:
# always substring is continuous 
def substring(s):
    sub=[]
    for i in range(len(s)):
        for j in range(i+1,len(s)+1):
            sub.append(s[i:j])
    return sub
substring('abc')

#i=0 j=1 s[0:1]=a
#i=1 j=2 s[]

['a', 'ab', 'abc', 'b', 'bc', 'c']

In [18]:
def find_subarray_sum(arr):
    sub=[]
    temp=0
    for i in arr:
        temp=temp+i
        sub.append(temp)
    return sub
find_subarray_sum([1,2,3,4,5,6,7])

[1, 3, 6, 10, 15, 21, 28]

In [3]:
def find_subarray_sum(arr):
    start =2
    end = 6
    prefix=[]
    temp=0
    result = 0
    for i in arr:
        temp=temp+i
        prefix.append(temp)
    result=prefix[end]-prefix[start-1]
    return prefix,result
find_subarray_sum([7,6,5,4,3,2,1])

# start = 2 end =6 subarr = [3,2,1] = 6
# result=0 prefix[end]=28 prefix[4-1]=prefix[3]=22 28-22=6

([7, 13, 18, 22, 25, 27, 28], 15)

In [24]:
def find_subarray_sum(arr):
    start =6
    end = 4
    if start > end:
        return 0
    prefix=[]
    temp=0
    result = 0
    for i in arr:
        temp=temp+i
        prefix.append(temp)
    result=prefix[end]-prefix[start-1]
    return prefix,result
find_subarray_sum([7,6,5,4,3,2,1])

0

In [39]:
class Numarray:
    def __init__(self,arr):
        self.arr=arr
    def printarr(self):
        return self.arr
    def find_subarray_sum(self,start,end):
        if start > end:
            return 0
        prefix=[]
        temp=0
        result = 0
        for i in self.arr:
            temp=temp+i
            prefix.append(temp)
        if start==0:
            result=prefix[end]
        else:
            result=prefix[end]-prefix[start-1]
        return result
arrr = Numarray([7,6,5,4,3,2,1])
arrr.printarr()
arrr.find_subarray_sum(4,6)

6

In [9]:
class LL:
    def __init__(self,arr):
        self.arr=arr
    def push(self,ele):
        self.arr.append(ele)
    def pop(self):
        self.arr=self.arr[0:len(self.arr)-1]
    def add(self,value,idx):
        n=[value]
        self.arr=self.arr[0:idx]+n+self.arr[idx:len(self.arr)]
    def printarr(self):
        return self.arr
a1=LL([1,2,5,6,8,9]) 
a1.push(3)
a1.pop()
a1.add(4,3)
a1.printarr()

[1, 2, 5, 4, 6, 8, 9]

In [48]:
a1=[1,2,3]
a2=[4,5,6]
result=a1+a2
print(result)

[1, 2, 3, 4, 5, 6]

In [11]:
def repeateddictionary(arr):
    result={}
    for i in arr:
        if i in result:
            result[i]+=1
        else:
            result[i]=1
    return result
repeateddictionary([1,2,4,2,5])

#arr=[1,2,3,4,5] i=1 result[1] in 1

{1: 1, 2: 2, 4: 1, 5: 1}

In [12]:
class Solution(object):
    def subarraySum(self, nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: int
        """
        count=0
        prifix=0
        dictionary={}
        dictionary[0]=1
        for i in nums:
            prifix=prifix+i
            if prifix-k in dictionary:
                count=dictionary[prifix-k]
            dictionary[prifix]+=1
        return count

In [4]:
def subarraySum(nums, k):
        """
        :type nums: List[int]
        :type k: int
        :rtype: int
        """
        count=0
        prifix=0
        dictionary={0:1}
        for i in nums:
            prifix=prifix+i
            if prifix-k in dictionary:
                count=count+dictionary[prifix-k]
            
            if prifix in dictionary:
                dictionary[prifix]+=1
            else:
                dictionary[prifix]=1
        return count,dictionary
subarraySum([1,1,2],2)

# count=0 prifix=0 i=1 prifix=0+1=1 if 1-2=-1 in dictionary ={0:1} 1 in {0:1} else {0:1,1:1}
# count=0 prifix=1 i=1 prifix=2 if 2-2=0 in dictionary{0:1,1:1} count=0+dictionary[2-2]=0+dictionary[0]=0+1=1 dictionary{0:1,1:1,2:1}
# count=1 prifix=2 i=1 prifix=3 if 3-2=1 in di count=1+di[3-2]=1+di[1]=1+1=2 if 3 in dictionary d[3]=1 {0:1,1:1,2:1,3:1}

(2, {0: 1, 1: 1, 2: 1, 4: 1})

In [2]:
def twonumbers(nums,target):
    start=0
    end=len(nums)-1
    sum=0
    arr=[]
    while start < end:
        sum=nums[start]+nums[end]
        if sum==target:
            arr.append([start,end])
            end-=1
            start+=1
        elif sum> target:
            end=end-1
        else:
            start=start+1
    return arr
twonumbers([1,2,3,4,6],6)

[[1, 3]]

In [26]:
def anagram(s1,s2):
    if len(s1)!=len(s2):
        return False
    for i in s1:
        if i not in s2:
            return False
    return True
anagram('silent','listen')

# s1='aacc'

True

In [5]:
def groupAnagrams(strs):
    dictionary={}
    for i in strs:
        sorted_string=''.join(sorted(i))
        if sorted_string in dictionary:
            dictionary[sorted_string].append(i)
        else:
             dictionary[sorted_string]=[i]
    return dictionary.values()
groupAnagrams(["eat","tea","tan","ate","nat","bat"])

aet
aet
ant
aet
ant
abt

dict_values([['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']])

In [27]:
strs='abcd'
print(''.join(sorted(strs)))

abcd

In [13]:
d={'a':1,'b':2,'c':3,'d':4}
print(d.values())
str1='a'
if str1 in d:
    print(d[str1])

dict_values([1, 2, 3, 4])
1

In [6]:
str2='dcba'
result=sorted(str2)
print(''.join(result))

abcd

In [7]:
def anagram(s1,s2):
    if len(s1)!=len(s2):
        return False
    dictionary={}
    for i in s1:
        if i in dictionary:
            dictionary[i]+=1
        else:
            dictionary[i]=1 #d={a:2,b:2} 
    for j in s2:
        if j not in dictionary or dictionary[j]==0:
            return False
        else:
            dictionary[j]-=1
    return True
            
anagram('abyz','aabb')

# s1='aacc' s2='abyz' d={a:2,b:2}
#i=a
# j=a if a not in d or d[a]==0 else 2-1=1 d{a:1,b:1}
#j=b 2-1 
#j=y 

# d={a:1,b:1,y:1,z:1}
#j=a d={a:0,b:1,y:1,z:1}
# j=a

False

In [34]:
s='ascd'
print(s.replace('s','b'))

abcd

In [3]:
def threesum(nums):
    result=[]
    nums.sort()
    for i in range(0,len(nums)):
        if i>0 and nums[i]==nums[i-1]:
            continue
        start=i+1
        end=len(nums)-1
        sum=0
        
        while start < end:
            sum=nums[i]+nums[start]+nums[end]
            if sum >0:
                end-=1
            elif sum<0:
                start+=1
            else:
                result.append([nums[i],nums[start],nums[end]])
                start+=1
                end-=1
    return result
threesum([-1,0,1,2,-1,-4])

# [-4,-1,-1,0,1,2] i=-4 -4>0

[[-1, -1, 2], [-1, 0, 1]]

In [7]:
def foursum(arr):
    i= 0
    j=1
    k=2
    l=3
    target = 10

    for z  in range(0,len(arr)):
        if arr[i]+arr[j]+arr[k]+arr[l]==10:
            return arr[i],arr[j],arr[k],arr[l]
        else:
            i+=1
            j+=1
            k+=1
            l+=1
    return 0
foursum([9,8,7,6,5,4,3,2,1])

(4, 3, 2, 1)

In [1]:
def twosum(nums,target):
    start=0
    end=len(nums)-1
    arr=[]
    sum=0
    while start < end:
        sum=nums[start]+nums[end]
        if sum==target:
            arr.append([start,end])
            start+=1
            end-=1
        elif sum>end:
            end-=1
        else:
            start+=1
    return arr
twosum([1,2,3,4,5],6)

[[0, 4], [1, 3]]

In [49]:
def threesumcloset(nums,target):
    nums.sort()
    result=0
    temp=float('inf')
    for i in range(len(nums)):
        start=i+1
        end=len(nums)-1
        sum=0
        
        while start < end:
            sum=nums[i]+nums[start]+nums[end]
            if abs(sum-target)<temp:
                temp=abs(sum-target)
                result=sum

            elif (sum-target)==temp:
                result=max(result,sum)
            if sum>temp:
                end-=1
            else:
                start+=1
    return result
threesumcloset([-1,2,1,-4],1)

# i=0 2==-1
# start=1 end=3-1=2 sum=0 1<2  sum=nums[0]+nums[1]+nums[2]=-1+2+1=2 sum=2 target=1 sum >target=2>1 end=2-1=1

2

In [34]:
nums=[-1,2,1,-4]
nums[0]==nums[0-1]

False

In [14]:
def maximum_subarray_sum(nums,k):
    maximum=float('-inf')
    for i in range(0,len(nums)-k+1):
        sum=0
        for j in range(i,k+i):
            sum=sum+nums[j]
        maximum=max(maximum,sum)
    return maximum
maximum_subarray_sum([2, 1, 5, 1, 3, 2],3)

# i=0 j=i=0

9

In [12]:
def maximum_subarray_sum(nums,k):
    maximum=float('-inf')
    current_sum=sum(nums[0:k])
    maximum=max(maximum,current_sum)
    for i in range(k,len(nums)):
        current_sum+=nums[i]-nums[i-k]
        maximum=max(maximum,current_sum)
    return maximum
        
maximum_subarray_sum([2, 1, 5, 1, 3, 2],3)        
# num[0:3]  maximum=8 current_sum=8 i=3 current_sum=8+nums[3]-nums[3-3]=8+1-2=7 maximum=max(8,7)  
# maximum=8 current_sum=7 i=4 cureen_sum=7+3-1=9 maximum=max(8,9)=9
#maximum=9 current_sum=9 i=5 current_sum=9+2-5=6 maximum=max(9,6)=9

9

In [16]:
def maximum_average_subarray(nums,k):
    if not nums or k>len(nums):
        return 0
    maximum=float('-inf')
    current_sum=sum(nums[0:k])
    maximum=max(maximum,current_sum)
    for i in range(k,len(nums)):
        current_sum+=nums[i]-nums[i-k]
        maximum=max(maximum,current_sum)
    return maximum/k
        
maximum_average_subarray([1,12,-5,-6,50,3],4)

12.75

In [2]:
def maximum_average_subarray(nums,k):
    if not nums or k>len(nums):
        return 0
    
    current_sum=sum(nums[0:k])
    maximum=current_sum
    for i in range(k,len(nums)):
        current_sum+=nums[i]-nums[i-k]
        maximum=max(maximum,current_sum)
    return float(maximum)/k
        
maximum_average_subarray([1,12,-5,-6,50,3],4)

12.75

In [49]:
def longest_substring(s):
    sub=""
    for i in range(0,len(s)):
        for j in range(i,len(s)):
            if s[j] in sub:
                break 
            sub=sub+s[j]
           
                
    return sub
longest_substring('abcdac')

'abcd'

In [10]:
def longest_substring(s):
    arr=[]
    for i in range(0,len(s)):
        for j in range(0,i): 
            if s[j:i] in arr:
                continue
            arr.append(s[j:i])         
    return arr
longest_substring('abcdac')

['a',
 'ab',
 'b',
 'abc',
 'bc',
 'c',
 'abcd',
 'bcd',
 'cd',
 'd',
 'abcda',
 'bcda',
 'cda',
 'da']

In [50]:
def printLongestSubstring(s) :
    n = len(s)
    l, r = 0, 0
    visited = set()
    maxStr = 0
    maxL, maxR = 0, 0
    while r < n:
        if s[r] not in visited:
            visited.add(s[r])
            if r - l + 1 > maxStr:
                maxStr = r - l + 1
                maxL, maxR = l, r
            r += 1
        else:
            visited.remove(s[l])
            l += 1
    return maxStr
printLongestSubstring("abcabcbb")

3

In [18]:
def caluculate_sum(num):
    sum=0
    while num > 0 or sum >=10:
        if num==0:
            num=sum
            sum=0
        sum+=num%10
        num=num//10
    return sum
caluculate_sum(9875)

# 9875 >0 sum=0+5 sum=5 num=987 
# 987 >0  sum=5+7=12 num=98 
# 98 >0 sum=12+7=19 num=9
# 9>0 sum=19+9=28 num=0
# 0==0 num=28 sum=0

2

In [28]:
def count_digit(n,digit):
    count=0
    while n > 0:
        if n%10==digit:
            count=count+1
        n=n//10
    return count
count_digit(122333,3)

3

In [29]:
def divisors_number(n):
    div=[]
    for i in range(1,n+1):
        if n%i==0:
            div.append(i)
    return div
divisors_number(12)

[1, 2, 3, 4, 6, 12]

In [34]:
def average_number(arr):
    avg=0
    for i in arr:
        avg=avg+i
    return int(avg/len(arr))
average_number([1,2,3,4,5])

3

In [37]:
def mode_number(arr):
    mode={}
    for i in arr:
        if i in mode:
            mode[i]+=1
        else:
            mode[i]=1
    return mode,max(mode.values())
mode_number([1,2,2,3,4,4,4])

({1: 1, 2: 2, 3: 1, 4: 3}, 3)

In [44]:
def length_of_string(s):
    count=0
    for i in s:
        count=count+1
    return count
length_of_string('hello')

# i=0 count=0 0+0=0

5

In [48]:
def pyramid(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end="")
        print(" ")
pyramid(4)

1
12
123
1234

In [9]:
def factorial(n):
    fact=1
    sum=0
    if n==0:
        return 0
    for i in range(1,n+1):
        fact=fact*i
    while fact > 0:  
        sum = sum + (fact % 10)  
        fact = fact // 10
    return sum
factorial(4)

# 24 >0 sum=0+4=4

6

In [1]:
def pallindrome(s):
    return s==s[::-1]
pallindrome('racecar')

True

In [9]:
def sum_digit(n):
    sum=0
    while n>0:
        sum=sum+(n%10)
        n=n//10
    return sum
sum_digit(1234)

# sum=0+4=4 n=123 sum=4+3=7 n=12 sum=7+2=9 n=1 sum=9+1=10 sum=10

10

In [13]:
def GCD(a,b):
    gcd=0
    n=min(a,b)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
    return gcd
GCD(48,18)

6

In [15]:
def LCM(a,b):
    lcm=0
    gcd=0
    n=min(a,b)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
            lcm=(a*b)/gcd
    return int(lcm)
LCM(12,15)

60

In [18]:
vowels='aeiouAEIOU'
def vowels_consonants(s):
    vowels_count=0
    consonants=0
    for char in s:
        if char in vowels:
            vowels_count=vowels_count+1
        else:
            consonants=consonants+1
    return vowels_count,consonants
vowels_consonants('hello world')

(3, 8)

In [10]:
def reverse_string(s):
    s2=''
    for i in s:
        s2=i+s2
    return s2
reverse_string("programming")

'gnimmargorp'

In [22]:
from datetime import datetime
result=datetime.now()
result

datetime.datetime(2025, 2, 3, 14, 50, 42, 53358)

In [24]:
from datetime import datetime
import pytz
ist=pytz.timezone('Asia/Kolkata')
result=datetime.now(ist)
print(result)

2025-02-03 15:07:40.375148+05:30

In [27]:
def largest_number(arr):
    large=arr[0]
    for i in arr[1:]:
        if i > large:
            large=i
    return large
largest_number([4, 7, 1, 8, 5] )

8

In [29]:
from datetime import datetime
result=datetime.now().strftime("%A")
result

'Monday'

In [3]:
def large_small_number(arr):
    large=arr[0]
    small=arr[0]
    for i in arr[1:]:
        if i > large:
            large=i
        elif i < small:
            small=i
    return large,small
    
    
large_number([5,8,0,8,5,9])

(9, 0)

In [7]:
def sorting_array(arr):
    n=len(arr)
    for i in range(n):
        for j in range(0,n-i-1):
            if arr[j] > arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
    return arr
sorting_array([3, 1, 4, 1, 5, 9])

[1, 1, 3, 4, 5, 9]

In [8]:
def sum_elements(arr):
    sum=0
    for i in arr:
        sum=sum+i
    return sum
sum_elements([1, 2, 3, 4, 5])

15

In [20]:
def armstrong(n):
    count=0
    sum=0
    temp=n
    while temp>0:
        digit=temp%10

        count=count+1
        temp=temp//10

    temp=n
    while temp>0:
        digit=temp%10
        sum=sum+(digit**count)
        temp=temp//10
    if sum==n:
        return True
    else:
        return False
def range_armstrong(arr):
    result=[]
    for i in range(arr[0],arr[1]):
        if armstrong(i)==True:
            result.append(i)
    return result
range_armstrong([1,500])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

In [27]:
def multiplication_tables(n):
    for i in range(1,11):
        print(n*i)
multiplication_tables(4)

4
8
12
16
20
24
28
32
36
40

In [11]:
def prime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True
def is_prime(arr):
    result=[]
    for i in range(arr[0],arr[1]):
        if prime(i)==True:
            result.append(i)
    return result
is_prime([10,30])

[11, 13, 17, 19, 23, 29]

In [40]:
def perfect_number(n):
    result=0
    for i in range(1,n):
        if n%i==0:
            result=result+i
    if result==n:
        return True
    return False
perfect_number(28)

True

In [13]:
'''n this problem, a String S is composed of lowercase alphabets and wildcard characters i.e. '?'. Here, '?' can be replaced by any of the lowercase alphabets. Now you have to classify the given String on the basis of following rules:
If there are more than 3 consonants together or more than 5 vowels together, the String is considered to be "BAD". A String is considered "GOOD" only if it is not “BAD”.
NOTE: String is considered as "BAD" if the above condition is satisfied even once. Else it is "GOOD" and the task is to make the string "BAD".

Example 1:
Input:S = aeioup??Output:1Explanation: The String doesn't contain morethan 3 consonants or more than 5 vowels together.So, it's a GOOD string.
Example 2:
Input:S = bodaeioc
You don't need to read input or print anything. Your task is to complete the function isGoodorBad() which takes the String S as input and returns 0 or 1.
'''

vowels='aeiouAEIOU'
def string_Good_Bad(s):
    v_count=0
    c_count=0
    for char in s:
        if char in vowels:
            v_count+=1
        else:
            c_count+=1
    if v_count>5 or c_count>3:
        return 0
    return 1
string_Good_Bad('?????aei')

0

In [16]:
vowels='aeiouAEIOU'
def string_Good_Bad(s):
    v_count=0
    c_count=0
    for char in s:
        if char=='?':
            v_count+=1
        elif char in vowels:
            v_count+=1
        else:
            c_count+=1
    if v_count>5 or c_count>3:
        return 0
    return 1
string_Good_Bad('?????bcd')

1

In [2]:
def cal_even_sum(arr):
    result=0
    for i in range(arr[0],arr[1]+1):
        if i%2==0:
            result=result+i
    return result
cal_even_sum([1,10])

30

In [5]:
def cal_odd_sum(arr):
    result=0
    for i in range(arr[0],arr[1]+1):
        if i%2!=0:
            result=result+i
    return result
cal_odd_sum([1,10])

25

In [28]:
def lengthOfLongestSubstring(s):
        n = len(s)
        l, r = 0, 0
        visited = set()
        maxStr = 0
        maxL, maxR = 0, 0
        while r < n:
            if s[r] not in visited:
                visited.add(s[r])
                if r - l + 1 > maxStr:
                    maxStr = r - l + 1
                    maxL, maxR = l, r
                r += 1
            else:
                visited.remove(s[l])
                l += 1
        return maxStr
lengthOfLongestSubstring("abcabcbb")

# n=8 l=0 r=0 v=set() maxstr=0 maxL=0 maxR=0 0<8 s[0] =a visited=a 0-0+1=1>0 maxstr=1
#max=l=0 maxR=r=0 r=1

3

In [19]:
def second_largest_number(arr):
    large=arr[0]
    second_large=float('-inf')
    for i in arr[1:]:
        if i > large:
            second_large=large
            large=i
        elif i > second_large and i < large:
            second_large=i
    return second_large
second_largest_number([10, 20, 4, 45, 99])

45

In [40]:
def string_append(s,k):
    result=[]
    s2=""
    for char in s:
        if len(s2) <k:
            s2+=char
        else:
            result.append(s2)
            s2=char
    if s2:
        s2+='_'*(k-len(s2))
        result.append(s2)
    return result
    
string_append('my name is pawan i from humnabad',5)

# m 0<k =0<5 =s2=m
#y s2 =my na s2

['my na', 'me is', ' pawa', 'n i f', 'rom h', 'umnab', 'ad___']

In [17]:
def string_long(s):
    words = s.split()
    result = ''

    for word in words:
        if len(word) > len(result): 
            result = word 

    return result

print(string_long('i am nikita'))

nikita

In [46]:
def ss(s):
    s2=s.split()
    result={}
    for i in s2:
        if i in result:
            result[i]+=1
        else:
            result[i]=1
    return result
ss('hello world! hello everyone')

{'hello': 2, 'world!': 1, 'everyone': 1}

In [47]:
def lengthOfLongestSubstring(s):
    l,r = 0,0
    string = ""
    long_string=""
    while(r<len(s)):
        if s[r] in string:
            string = string[l:r]
            l+=1
        else:
            string+=s[r]
            r+=1
        if len(string)>len(long_string):
            long_string=string
            
    return long_string
lengthOfLongestSubstring("abcabcbb")

'abc'

In [48]:
def sentence_string(s):
    result={}
    unique=""
    for char in s:
        if char in result:
            result[char]+=1
        else:
            result[char]=1
    for k in result.keys():

        if result[k]==1:
            unique=k
            return unique
    
    return result,unique
sentence_string('aabbckce')

'k'

In [2]:
def subarray_sum(arr):
    result=[]
    temp=0
    for i in arr:
        temp=temp+i
        result.append(temp)
    return result
subarray_sum([1,2,3,4,5,6,7])

[1, 3, 6, 10, 15, 21, 28]

In [ ]:
def lengthOfLongestSubstring(s):
    l,r = 0,0
    string = ""
    long_string=""
    while(r<len(s)):
        if s[r] in string:
            string = string[l:r]
            l+=1
        else:
            string+=s[r]
            r+=1
        if len(string)>len(long_string):
            long_string=string
            
    return long_string
lengthOfLongestSubstring("abcabcbb")

In [14]:
def substring(s):
    sub=[]
    for i in range(len(s)):
        for j in range(i+1,len(s)+1):
            sub.append(s[i:j])
        
    return sub
substring("babad")

['b',
 'ba',
 'bab',
 'baba',
 'babad',
 'a',
 'ab',
 'aba',
 'abad',
 'b',
 'ba',
 'bad',
 'a',
 'ad',
 'd']

In [23]:
def longest_pallindrome(s):
    result=''
    result_len=0
    for i in range(len(s)):
        start=i
        end=i
        while start >= 0 and end < len(s) and s[start]==s[end]:
            if (end-start+1) > result_len:
                result=s[start:end+1]
                result_len=len(result)
            start-=1
            end+=1
        start=i
        end=i+1
        while start >= 0 and end < len(s) and s[start]==s[end]:
            if (end-start+1) > result_len:
                result=s[start:end+1]
                result_len=len(result)
            start-=1
            end+=1 
    return result
longest_pallindrome("babad")
 
# i=0strt=0 end=0 0>=0 and 0<5 and s[0]==s[0] b==b
# if (0-0+1)>0 1>0 True result=s[0:0+1]=s[0:1]=b result_len=0-0+1=1

'bab'

In [49]:
def search_insert(nums,target):
    start=0
    end=len(nums)-1
    mid=0
    while start <= end:
        mid=(start+end)//2
        if mid==target:
            return mid
        elif mid < target:
            start+=1
        else:
            end-=1
    return start
search_insert([1,3,5,6],7)

4

In [50]:
def remove_duplicates(nums):
    k=1
    for i in range(1,len(nums)):
        print(i)
        if nums[i]!=nums[i-1]:
            nums[k]=nums[i]
            k+=1
    for j in range(k, len(nums)):
        nums[j] = "_"
    return k,nums
remove_duplicates([1,1,2])

# i=1 nums[i]=nums[1]=1!=1
#

1
2

(2, [1, 2, '_'])

In [11]:
def remove_duplicates(nums,val):
    k=0
    for i in range(1,len(nums)):
        print(i)
        if nums[i]!=val:
            nums[k]=nums[i]
            k+=1
    for j in range(k, len(nums)):
        nums[j] = "_"
    return k,nums
remove_duplicates([3,2,2,3],3)

# i=1 nums[i]=nums[1]=1!=1
#

1
2
3

(2, [2, 2, '_', '_'])

In [26]:
def merge_sort(arr):
    # Base case: A list of zero or one elements is already sorted
    if len(arr) <= 1:
        return arr

    # Divide the array into two halves
    mid = len(arr) // 2
    left_half = merge_sort(arr[:mid])
    right_half = merge_sort(arr[mid:])

    # Merge the sorted halves
    return merge(left_half, right_half)

def merge(left, right):
    sorted_array = []
    i = j = 0

    # Compare elements from both halves and add the smaller one to the result
    while i < len(left) and j < len(right):
        if left[i] <= right[j]:
            sorted_array.append(left[i])
            i += 1
        else:
            sorted_array.append(right[j])
            j += 1

    # Append any remaining elements from the left half
    while i < len(left):
        sorted_array.append(left[i])
        i += 1

    # Append any remaining elements from the right half
    while j < len(right):
        sorted_array.append(right[j])
        j += 1

    return sorted_array

# Example usage
arr = [38,25, 27, 43, 3, 9, 82, 10]
sorted_arr = merge_sort(arr)
print("Sorted Array:", sorted_arr)

Sorted Array: [3, 9, 10, 25, 27, 38, 43, 82]

In [31]:
def plus_one(digits):
    n=len(digits)
    for i in range(n-1,-1,-1):
        if digits[i]<9:
            digits[i]+=1
            return digits
        digits[i]=0
    return [1]+digits
# Example usage
digits1 = [1, 2, 3]
digits2 = [4, 3, 2, 1]
digits3 = [9,9,9]

print(plus_one(digits1))  # Output: [1, 2, 4]
print(plus_one(digits2))  # Output: [4, 3, 2, 2]
print(plus_one(digits3))

[1, 2, 4]
[4, 3, 2, 2]
[1, 0, 0, 0]

In [30]:
digits1 = [1, 2, 3]
digits2 = [4, 3, 2, 1] 
digits3 = [9,9]
result=0
for digit in digits1:
    result = (result*10) + digit
    print(result)

1
12
123

In [30]:
def clear_digits(s):
    arr=[]
    for i in s:
        if i.isdigit():
            if arr:
                arr.pop()
        else:
            arr.append(i)
    return ''.join(arr)
clear_digits('ee34')

# i=c c.digit() Flaseelse arr=[]
#i=3

''

In [15]:
def roman_to_integer(s):
    total=0
    roman_numerals = {
    'I': 1,
    'V': 5,
    'X': 10,
    'L': 50,
    'C': 100,
    'D': 500,
    'M': 1000
}
    for i in range(len(s)):
        current=roman_numerals[s[i]] 
        if i+1>=len(s):
            next=0
        else:
            
            next=roman_numerals[s[i+1]]  #next='V'=5
        total+= -current if current< next else current   #1<5 True -1 ,5
        
        
    return total
roman_to_integer('IV')

4

In [22]:
def integer_to_roman(n):

    roman = {
       1000: "M", 900: "CM", 500: "D", 400: "CD",
        100: "C", 90: "XC", 50: "L", 40: "XL",
        10: "X", 9: "IX", 5: "V", 4: "IV",
        1: "I"}
    roman_str=""
    for i,j in roman.items():
        while n>=i:
            roman_str+=j
            n-=i
    return roman_str
integer_to_roman(2)

'II'

In [29]:
def longest_common_prefix(s):
    s1=s[0]
    if len(s)==0:
        return ""
    for i in s[1:]:
        while i[:len(s1)]!=s1:
            s1=s1[:-1]
            if not s1:
                return ""
    return s1    
longest_common_prefix(["flower","flow","flight"])

#s1=flower
# i = flow flow[:6]!=flower s1

'fl'

In [38]:
def isvalid(s):
    arr=[]
    d={')':'(', '}':'{', ']':'['}
    for i in s:
        if i not in d:
            arr.append(i)
        else:
            if not arr or arr.pop()!=d[i]:
                return False
    return len(arr)==0
isvalid('())))')

# i=( (

False

In [36]:
s=')'
d={')':'(', '}':'{', ']':'['}
for i in s:
    if i in d:
        print(i)

)

In [54]:
def merge_sort(arr):
    if len(arr)<=1:
        return arr
    mid=len(arr)//2
    left_half=merge_sort(arr[:mid])
    right_half=merge_sort(arr[mid:])
    return merge(left_half,right_half)
def merge(left,right):
    arr2=[]
    i=0
    j=0
    while i < len(left) and j < len(right):
        if left[i]<=right[j]:
            arr2.append(left[i])
            i+=1
        else:
            arr2.append(right[j])
            j+=1
    while i< len(left):
        arr2.append(left[i])
        i+=1
    while j < len(right):
        arr2.append(right[j])
        j+=1
    return arr2
merge_sort([38,25, 27, 43, 3, 9, 82, 10])

[3, 9, 10, 25, 27, 38, 43, 82]

In [6]:
def reomve_substring(s,p):
    result=""
    for i in range(len(s[0])):
        for j in s:
            if i==len(j) or j[i]!=s[0][i]:
                return result
        reult+=s[0][i]
    return result
reomve_substring("daabcbaabcbc","abc")

''

In [ ]:
def remove_sub_string(s,p):
    while p in s:
        s=s.replace(p,"",1)
    return s
remove_sub_string("daabcbaabcbc","abc")

In [16]:
def remove_duplicates(nums,val):
    k=0
    for i in range(len(nums)):
        if nums[i]!=val:
            nums[k]=nums[i]
            k+=1
    
    return k
remove_duplicates([0,1,2,2,3,0,4,2],2)

# i=1 nums[i]=nums[1]=1!=1
#

5