In [2]:
#REVERSE STRING

def reverse_string(n):
    return n[::-1]
reverse_string('nikita')

'atikin'

In [2]:
#PALLINDROME

def pallindrome(s):
    return s==s[::-1]
print(pallindrome('racecar'))
print(pallindrome('hello'))

True
False

In [3]:
#FACTORIAL NUMBERS

def fact(n):
    if n==0:
        return 1
    else :
        return n*fact(n-1)
fact(5)

120

In [4]:
#FIBONACICIS NUMBER

def fib(n):
    sequence=[0,1]
    for i in range(2,n):
        fibonaci=sequence[i-1]+sequence[i-2]
        sequence.append(fibonaci)
    return sequence
print(fib(50))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

In [5]:
# FIND THE LARGEST ELEMENT IN A LIST

def largest_number(list):
    large=list[0]
    for num in list[1:]:
        if num > large :
            large = num
    return large
largest_number([1,4,9,3,11,3])

11

In [6]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
is_prime(3)

True

In [7]:
# REMOVE DUPLIOCATES FROM A LIST

def duplicates_remove(lst):
    return list(set(lst))
duplicates_remove([1,2,6,2,7,2,8,7,6,1,7,4,9,3,7])

[1, 2, 3, 4, 6, 7, 8, 9]

In [8]:
#counts vowels in string

def count_vowels(s):
    vowels='aeiouAEIOU'
    count=0
    for char in s:
        if char in vowels:
            count+=1
    return count
count_vowels('nikita')

3

In [9]:
def sorting(lst):
    for i in range(len(lst)):
        for j in range(len(lst)-1-i):
            if lst[j]>lst[j+1]:
                lst[j],lst[j+1] = lst[j+1],lst[j]
    return lst
sorting([2,9,5,8,1,4])

[1, 2, 4, 5, 8, 9]

In [10]:
def find_missing_number(lst, n):
    total_sum = n * (n + 1) // 2
    return total_sum - sum(lst)
find_missing_number([1,4,5,2,7],3)

-13

In [11]:
# CHECK TWO STRINGS ARE ANAGRAMS OR NOT

def string_ana(s1,s2):
    return (s1,s2)
string_ana('nikita','itanik')

('nikita', 'itanik')

In [12]:
def string_ana(s1,s2):
    return sorted(s1)==sorted(s2)
string_ana('nikita','itanik')

True

In [13]:
def find_pairs(nums,target):
    pairs=[]
    seen=set()
    for num in nums:
        diff=target-num
        if diff in seen :
            pairs.append((diff,num))
        seen.add(num)
    return pairs
nums=[1,5,7,-1,5]
target=6
print(find_pairs(nums,target))

[(1, 5), (7, -1), (1, 5)]

In [27]:
# HOW TO CHECK LEAP YEAR
year=int(input('enter a year'))
if (year%400==0) and (year%100==0):
    print("{0} is leap year".format(year))
elif (year%400==0) and (year%100 !=0):
    print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))

enter a year2000
2000 is leap year

In [28]:
# HOW TO CHECK LEAP YEAR
year=int(input('enter a year'))
if (year%4==0) and (year%1==0):
    print("{0} is leap year".format(year))
elif (year%4==0) and (year%1 !=0):
    print("{0} is leap year".format(year))
else:
    print("{0} is not leap year".format(year))

enter a year2000
2000 is leap year

In [29]:
# ARMSTRONG NUMBER 

num=int(input('enter a number'))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if num==sum :
    print('it is armstrong number')
else:
    print('it is not armstrong number')

enter a number153
it is armstrong number

In [30]:
s=input('enter a string :-')
rev_s="".join(reversed(s))
if s == rev_s:
    print('it is a pallindrome')
else :
    print('it is not a pallindrome')

enter a string :-jhgfd
it is not a pallindrome

In [31]:
# CHECK PRIME FACTOR

def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True
is_prime(4)

False

In [32]:
num=int(input('enter a number'))
fact=1
if num<0:
    print('Invalid')
elif num==0:
    print('factorial is 0 and 1')
else :
    for i in range(1,num+1):
        fact=fact*i
        print(fact)

enter a number8
1
2
6
24
120
720
5040
40320

In [33]:
import numpy as np
num=np.random.randint(3,100,5)
num

array([82, 23, 46, 79, 60])

In [34]:
type(num)

numpy.ndarray

In [35]:
n=np.random.uniform(1,100)
n

4.905289712240624

In [36]:
import random
s=random.randrange(0,10,2)
s

2

In [37]:
numlist=random.sample(range(1,100),10)
numlist

[36, 22, 43, 80, 6, 10, 31, 50, 47, 9]

In [38]:
# HOW TO CHECK FIBONACCI SERIES

def fibonacci(n):
    sequence=[0,1]
    for i in range(2,n):
        fib=sequence[i-1]+sequence[i-2]
        sequence.append(fib)
    return sequence
fibonacci(int(input('enter a number')))

# TIME COMPLEXITY IS = O(n)

enter a number76

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050]

In [39]:
# HOW TO FIND THE SQUARE ROOT IN PYTHON

n=int(input('enter a number'))
n_sqrt=n**0.5
print((n,n_sqrt))

enter a number87
(87, 9.327379053088816)

In [40]:
import cmath
n=1+3j
n_sqrt=cmath.sqrt(n)
print((n,n_sqrt.real,n_sqrt.imag))

((1+3j), 1.442615274452683, 1.0397782600555705)

In [42]:
# INTER CHANGE THE LAST ELEMENT TO FIRST AND FIRST ELEMENT TO LAST

a=[]
n=int(input('enter a number'))
for x in range(0,n):
    element=int(input('enter element :'))
    a.append(element)
a[0],a[len(a)-1]=a[len(a)-1],a[0]
print(a)

enter a number1
enter element :2
[2]


n=int(input('enter a number'))
for x in range(0,n):
    element=int(input('enter element :'))
    a.append(element)
temp=a[0]
a[0]=a[len(a)-1]
a[len(a)-1]=temp
print(a)

In [43]:
try:
    # Code that may raise an exception
    num = int(input("Enter a number: "))
    print(f"Reciprocal: {1 / num}")
except ValueError:
    # Handling a ValueError (e.g., if input is not an integer)
    print("You must enter a valid number!")
except ZeroDivisionError:
    # Handling division by zero
    print("Cannot divide by zero!")
else:
    # Executes only if no exceptions were raised
    print("Operation completed successfully.")
finally:
    # Executes no matter what (exception or not)
    print("Program ended.")

Enter a number: 3
Reciprocal: 0.3333333333333333
Operation completed successfully.
Program ended.

In [44]:
s1='NIKITA TAMBOLE'
s2=''
for i in s1:
    s2=i+s2
    print(s1)
    print(s2)

NIKITA TAMBOLE
N
NIKITA TAMBOLE
IN
NIKITA TAMBOLE
KIN
NIKITA TAMBOLE
IKIN
NIKITA TAMBOLE
TIKIN
NIKITA TAMBOLE
ATIKIN
NIKITA TAMBOLE
 ATIKIN
NIKITA TAMBOLE
T ATIKIN
NIKITA TAMBOLE
AT ATIKIN
NIKITA TAMBOLE
MAT ATIKIN
NIKITA TAMBOLE
BMAT ATIKIN
NIKITA TAMBOLE
OBMAT ATIKIN
NIKITA TAMBOLE
LOBMAT ATIKIN
NIKITA TAMBOLE
ELOBMAT ATIKIN

In [45]:
#Reverse a Linked List
l1=[1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [46]:
#Reverse a Linked List
l1=[1,2,3,4,5]
l1_reverse=l1[::-1]
print(l1_reverse)

[5, 4, 3, 2, 1]

In [47]:
#Two Sum

nums = [2, 7, 11, 15]
target = 9

for i, num in enumerate(nums):
    complement = target - num
    if complement in nums[:i]:
        result = [nums.index(complement), i]
        break

print(result)  # Output: [0, 1]

[0, 1]

In [48]:
s = "abcabcbb"

# Initialize variables
start = 0
max_length = 0
char_index = {}

# Loop through the string
for i, char in enumerate(s):
    # If character is already in the window, update the start
    if char in char_index and char_index[char] >= start:
        start = char_index[char] + 1

    # Update character's index and calculate the length
    char_index[char] = i
    max_length = max(max_length, i - start + 1)

print(max_length)  # Output: 3

3

In [49]:
s = "abcabcbb"
char_count = {}
for char in s:
     if char in char_count:
         char_count[char] += 1 
     else:
        char_count[char] = 1
max_char = 0
for count in char_count.values():
    
    if count > max_char: 
        max_char = count 
print(max_char)

4

In [50]:
nums1 = [1, 3, 5]
nums2 = [2, 4, 6]

i = j = 0
merged = []

while i < len(nums1) and j < len(nums2):
    if nums1[i] < nums2[j]:
        merged.append(nums1[i])
        i += 1
        print(merged)
    else:
        merged.append(nums2[j])
        j += 1
        print(merged)

merged.extend(nums1[i:])
merged.extend(nums2[j:])

print(merged)  # Output: [1, 2, 3, 4, 5, 6]

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [51]:
type(nums1)

list

In [52]:
n=[[1, 2], [3, 4], [[5, 6], 8], 7]
result=[]
def sort_array(n):
    for i in n:
        if type(i)==list:
            sort_array(i)
        else :
            result.append(i)
sort_array(n)
print(result)

[1, 2, 3, 4, 5, 6, 8, 7]

In [53]:
def fizz_buzz(n):
    for i in range(1, n + 1):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

# Example Usage
fizz_buzz(15)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [54]:
nums=[3,4,-1,1]
nums=set(nums)
smallest=1
while smallest in nums:
    smallest+=1
print(smallest)

2

In [55]:
def add_parameters(*args):
    return sum(args)

# Example Usage
result = add_parameters(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"The sum of the parameters is: {result}")  # Output: 55

TypeError: 'int' object is not callable

In [56]:
def pallindrome(s):
    return s==s[::-1]
print(pallindrome('racecar'))

True

In [57]:
def max_subarray_sum(nums):
    max_current = max_global = nums[0]
    for num in nums[1:]:
        max_current = max(num, max_current + num)
        if max_current > max_global:
            max_global = max_current
    return max_global

In [58]:
max_subarray_sum([1,2,3,4,5])

15

In [59]:
num=[1,2,-4,-3]
max_current = max_global = num[0]
for i in num[1:]:
    max_current = max(i, max_current + i)
    if max_current > max_global :
        max_global = max_current
print(max_global)

3

In [60]:
def two_sum(nums, target):
    seen = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in seen:
            return [seen[complement], i]
        seen[num] = i
two_sum(([1,2,4,5,9]),9)

[2, 3]

In [61]:
num = [1,2,4,5,9]
target = 9
seen={}
for i , j in enumerate(num):
    complement = target - j
    if complement in seen:
        print([seen[complement],i])
    seen[j]=i

[2, 3]

In [62]:
def missing_number(num):
    n=len(num)
    return n*(n+1)//2 - sum(num)
missing_number([3,0,1])

TypeError: 'int' object is not callable

In [63]:
def reverse_string(s):
    return s[::-1]
reverse_string('hello')

'olleh'

In [64]:
def is_palindrome(s):
    return s == s[::-1]
is_palindrome('ollo')

True

In [65]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)
are_anagrams('silent','listen')

True

In [66]:
s = "abcabcbb" 
char_count = {}   
for char in s:
    if char in char_count: 
        char_count[char] += 1 
    else: char_count[char] = 1   
    max_char = 0 
    for count in char_count.values(): 
        if count > max_char: 
            max_char = count 
print(max_char)

4

In [67]:
s = "abcabcbb"
char_count = {}

for char in s:
    if char not in char_count:
        char_count[char] = 1

unique_count = len(char_count)

print(unique_count)

3

In [68]:
def second_largest(arr):
    unique_numbers = list(set(arr))
    unique_numbers.sort()
    return unique_numbers[-2]
second_largest([1,3,4,5,0,2])

4

In [69]:
def count_vowels(s):
    count=0
    for char in s.lower():
        if char in 'aeiou':
            count+=1
    return count
count_vowels('hello')

2

# Series objects oin pandas

In [70]:
import pandas as pd

In [71]:
data=[1,2,3,4,5]
series=pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [72]:
type(series)

pandas.core.series.Series

In [73]:
data=[1,2,3,4,5]
series=pd.Series(data,index=['a','b','c','d','e'])
series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [74]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
b=[]
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
    print(i)
print(b)

11
10
9
8
7
6
5
4
3
2
1
0
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
left=0
right=len(a)-1
while left < right :
    temp=a[left]
    a[left]=a[right]
    a[right]=temp
    right=right-1
    left=left+1
print(a)

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
a=[1,2,3,4,5]
j=6
i=j%len(a)
b=a[i:]+a[:i]
print(b)

[2, 3, 4, 5, 1]

In [77]:
a=[1,1,1]
large=0
secon_large=0
for i in a:
    if i>large :
        second_large=large
        large=i
    elif i<large and i>second_large :
        second_large=i
print(second_large)

0

In [78]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [79]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*',end='')
    print(" ")

*
**
***
****
*****

In [80]:
n=6
for i in range(1,n+1):
    for j in range(1,i):
        print(j,end='')
    print(" ")

1
12
123
1234
12345

In [81]:
n=5
for i in range(1,n+1):
    for j in range(0,i):
        print(i,end='')
    print(" ")

1
22
333
4444
55555

In [82]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print(" ")

*****
****
***
**
*

In [83]:
n=6
for i in range(n,0,-1):
    for j in range(1,i):
        print(j,end="")
    print(" ")

12345
1234
123
12
1

In [84]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********

In [85]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(" ",end="")
    for k in range(2*n-(2*i-1)):
        print('*',end="")
    print()

 *********
  *******
   *****
    ***
     *

In [86]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print('*',end="")
    print()
for i in range(1,n+1):
    for j in range(i):
        print(" ",end="")
    for k in range(2*n-(2*i-1)):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********
 *********
  *******
   *****
    ***
     *

In [87]:
n=6
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print('*',end="")
    print()
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print('*',end="")
    print()

     *
    **
   ***
  ****
 *****
******
******
 *****
  ****
   ***
    **
     *

In [88]:
n=5
s=1
for i in range(1,n+1):
    if (i%2==0):
        s=1
    else:
        s=0
    for j in range(1,i+1):
        if (s==0):
            s=1
        else:
            s=0
        print(s,end="")
    print()

1
01
101
0101
10101

In [89]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j%2,end="")
    print()

1
10
101
1010
10101

In [90]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    s=2*(n-i)
    print(" "*s,end="")
    print()

1
12
123
1234
12345

In [91]:
num=int(input('enter a number'))
sum=0
count=0
temp=num
while temp>0:
    digit=temp%10
    #sum=sum+(digit**3)
    count=count+1
    temp=temp//10
print(count)
temp=num
while temp>0:
    digit=temp%10
    sum=sum+pow(digit,count)
    temp=temp//10
if num==sum :
    print('it is armstrong number')
else:
    print('it is not armstrong number')

enter a number3456
4
it is not armstrong number

In [92]:
if -2 > -4:
    print(True)
else:
    print(False)

True

In [93]:
s='The quick brown fox jumps over the lazy dog'
b=s.lower()
print(b)
v='abcdefghijklmnopqrstuvwxyz'
for v in b:
    if v==b:
        print(True)
    else:
        print(False)

the quick brown fox jumps over the lazy dog
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [94]:
def pengram(s):
    alphabet='abcdefghijklmnopqrstuvwxyz'
    s_lowercase=s.lower()
    for ch in alphabet:
        if ch not in s:
            return False
    return True
pen=pengram('dfghjkiuytrdsz')
            
print(pen)

False

In [95]:

def move_zeros(arr):
    zeros=[]
    non_zeros=[]
    for i in arr:
        if i==0:
            zeros.append(i)
        else:
            non_zeros.append(i)
    return non_zeros+zeros
result=move_zeros([0,1,0,3,12])
print(result)

[1, 3, 12, 0, 0]

In [ ]:
def move_zeros(arr):
    left=0
    right=len(arr)-1
    while left<right:
        if arr[left]!=0 and arr[right]==0:
            
            left=left+1
            right=right-1
            
        elif arr[left]==0 and arr[right]!=0:
            temp=arr[left]
            arr[left]=arr[right]
            arr[right]=temp
            left=left+1
            right=right-1
        
    return arr
result=move_zeros([0,1,0,3,12])
print(result)

In [ ]:
def move_zeros(arr):
    for i in range(0,len(arr)-1):
        
        if arr[i]!=0 and arr[i+1]==0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
                
            temp1=arr[i] 
            arr[i]=arr[i+1]
            arr[i+1]=temp1
            
        elif arr[i]==0 and arr[i+1]!=0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
                
            temp=arr[i]
            arr[i]=arr[i+1]
            arr[i+1]=temp
        elif arr[i]==0 and arr[i+1]==0:
            if arr[i-2]==0:
                
                temp3=arr[i-2]
                arr[i-2]=arr[i+1]
                arr[i+1]=temp3
        
    return arr
result=move_zeros([0,0,1,0,3,12])
print(result)

# i=0 i+1=1
#'''arr[i]=0 and arr[i+1]=1  temp=0 arr[i]=1 arr[i+1]=0
#arr=[1,0,0,3,12] 
#i=1 i+1=2 arr[i]=0 arr[i+1]=0 
# i=2 i+1=3 arr[i]=0 and arr[i+1]=3 second condition temp=0 arr[i]=3 arr[i+1]=0 
#arr=[1,0,3,0,12]

In [ ]:
def move_zeros(arr):
    for i in range(len(arr) - 1):  # Avoid out-of-range access
        if arr[i] != 0 and arr[i + 1] == 0:  # Non-zero followed by zero
            arr[i], arr[i + 1] = arr[i + 1], arr[i]  # Swap values
        elif arr[i] == 0 and arr[i + 1] != 0:  # Zero followed by non-zero
            arr[i], arr[i + 1] = arr[i + 1], arr[i]  # Swap values
    return arr

result = move_zeros([0, 1, 0, 3, 12])
print(result)

In [ ]:
def move_zeros(arr):
    count=0
    for i in range(0,len(arr)-1):
        if arr[count]==0:
            arr.append(arr[count])
            del arr[count]
        else :
            count=count+1
        
    return arr
result=move_zeros([0,0,1,0,0,3,0,12])
print(result)

#count=0 arr[count]=0 arr[0,0,1,0,3,12,0] delete arr=[0,1,0,3,12,0]
#count=1

In [ ]:
def check_number(n):
    if n%2==0:
        print('even')
    else :
        print('odd')
    return n
result=check_number(3)
print(result)

In [ ]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True
result=is_prime(7)
print(result)
#n=7

In [ ]:
def leap_year(year):
    if (year%4==0) and (year%100==0):
        print('leap year')
    elif (year%4==0) and (year%100!=0):
        print('yes')
    else :
        print('Not')
    return year
result=leap_year(2000)
print(result)

In [ ]:
def armstrong(num):
    sum=0
    count=0
    temp=num
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=num
    while temp>0:
        digit=temp%10
        sum=sum+pow(digit,count)
        temp=temp//10
    if num==sum:
        print('armstrong')
    else:
        print('Not')
armstrong(163)

In [1]:
def fib(n):
    sequence=[0,1]
    for i in range(2,n):
        fib=sequence[i-1]+sequence[i-2]
        sequence.append(fib)
    return sequence
result=fib(8)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13]

In [2]:
def pallindrome(s):
    return s==s[::-1]
result=pallindrome('racecar')
print(result)

True

In [3]:
#Recursional is conditional break

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(5)
print(result)

120

In [4]:
#Summing Digits of a Number
def sum_number(n):
    
    sum_digit=0
    sum1=0
    while n>0:
        sum_digit=n%10
        n=n//10
        sum1=sum1+sum_digit
    return sum1
sum_number(0.1)

#n=1234 temp=n temp=1234 1234>0 sum_digit=4 n=123 sum1=0+4=4
#n=123 temp=123 123

0.1

In [5]:
#Finding the Greatest Common Divisor (GCD)
def GCD(a,b):
    gcd=0
    n=min(a,b)
    #print(n)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
    return gcd
GCD(48,18)

6

In [6]:
def factroial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factroial(0)

1

In [7]:
def LCM(a,b):
    gcd=0
    n=min(a,b)
    for i in range(1,n+1):
        if a%i==0 and b%i==0:
            gcd=max(gcd,i)
            lcm=(a*b)/gcd
    return lcm
LCM(12,15)

60.0

In [8]:
vowels=('aeiouAEIOU')
def count_vowels(s):
    vowels_count=0
    consanants=0
    for char in s:
        if char in vowels:
            vowels_count=vowels_count+1
        else:
            consanants=consanants+1
    return vowels_count,consanants
count_vowels('hello world')

(3, 8)

In [9]:
vowels = 'aeiouAEIOU'

def count_vowels(s):
    vowels_count = 0
    consonants = 0
    for char in s:
        if char.isalpha():  # Only consider alphabetic characters
            if char in vowels:
                vowels_count += 1
            else:
                consonants += 1
    return vowels_count, consonants

result = count_vowels('hello world')
print(result)

(3, 7)

In [10]:
def reverse_string(s):
    s=list(s)
    left=0
    right=len(s)-1
    while left<right:
        s[left],s[right]=s[right],s[left]
        left=left+1
        right=right-1
    return ''.join(s)
        
reverse_string('programming')

'gnimmargorp'

In [11]:
def reverse_string(s):
    string=""
#     print(s[1::]+s[0])
#     print(s[::-1])
    for i in range(len(s)-1,-1,-1):
        string=string+s[i]
    return string
reverse_string('programming')

'gnimmargorp'

In [12]:
def large_small(a):
    large=float('-inf')
    second_large=float('-inf')
    empty_var='Array is emprty'
    for i in a:
        if i>large:
            second_large=large
            large=i
        elif i<second_large and i>large:
            second_large=i
       # elif large==float('-inf'):
            
    return empty_var
large_small([])

'Array is emprty'

In [13]:
empty_var=""
def large_small(a):
    large=float('-inf')
    second_large=float('-inf')
    for i in a:
        if i>large:
            second_large=large
            large=i
        elif i<second_large and i>large:
            second_large=i
    if large==float('-inf'):
        empty_var="this array is empty"
        print(empty_var) 
    return empty_var
large_small([])

this array is empty

'this array is empty'

In [14]:
a=[]
if not a:
    print('empty')
else:
    print('no')

empty

In [15]:
a=float('-inf') 
b=float('inf')
print(bool(a and b))

True

In [16]:
def bubble_sort(arr):
    n=len(arr)
    print(n)
    for i in range(n-1):
        for j in range(n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1] = arr[j+1],arr[j]
    return arr
bubble_sort([3,1,4,1,5,9])

# BUBBLE SORT

6

[1, 1, 3, 4, 5, 9]

In [17]:
arr=[3,1,4,1,5,9]
for i in range(len(arr)-1):
    print(i)

0
1
2
3
4

In [18]:
dictionary={}
s="i am nikita"
splitting=s.split()
print(splitting)
large_word=max(splitting,key=len)
print(large_word)

['i', 'am', 'nikita']
nikita

In [19]:
dictionary={}
s="i am nikita"
splitting=s.split()
print(splitting)
for i in splitting:
    print(i)
    dictionary[i]=dictionary.get(i,0)+1
print(dictionary)

['i', 'am', 'nikita']
i
am
nikita
{'i': 1, 'am': 1, 'nikita': 1}

In [20]:
large_word=""
s="i am nikita"
splitting=s.split()
print(splitting)
for i in splitting:
    if len(i) > len(large_word):
        large_word=i
print(large_word)

['i', 'am', 'nikita']
nikita

In [21]:
vowels=('aeiouAEIOU')
def count_vowels(s):
    vowels_count=0
    for char in s:
        if char in vowels:
            vowels_count=vowels_count+1
        
    return vowels_count
count_vowels('hello world')

3

In [22]:
def remove_duplicates(arr):
    idx=0
    for i in range(1,len(arr)):
        if arr[i]!=arr[idx]:
            idx=idx+1
            arr[idx]=arr[i]
        else:
            print('no')
    return arr[:idx+1]
arr=[1,2,2,4,5,5,7,7,8]
result=remove_duplicates(arr)            
print(result)

#idx=0 i=1 arr[1]!=arr[0] 1!=2 idx=0+1
#idx=1 i=2 arr[2]!=arr[1] 2!=2  no idx=1+1=2
#idx=2 i=3 arr[3]!=arr[2] 2!=4 idx=2+1=3
#idx=3 i=4 arr[4]!=arr[3] 4!=5 idx=

no
no
no
[1, 2, 4, 5, 7, 8]

In [23]:
def generate_number(number,end=10):
    print(number)
    for i in range(1,end+1):
        print(f"{number} x {i} = {number * i}")
    return number

generate_number(3)

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

3

In [24]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
prime(6)

False

In [25]:
# prime number=1,3,7,11,13,
# A number should not be 0 or 1 and divide itself only
num=[10,30]
num1=[]
def prime_numbers(num):
    for i in range(num[0]+1,num[1]):
        for j in range(2,num[1]):
            if i%j==0:
                break
       # if i%i==0:
            else:
                num1.append(i)
prime_numbers(num)
print(num1)
            

# i=11 j=2 11%2!=0  
# i=21 j=2 21%2==0

[11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 21, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 25, 25, 25, 27, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29]

In [26]:
def prime(n):
    if n <= 1:
        return False
    for k in range(2, n):
        if n % k == 0:
            return False
    return True

num=[10,30]
num1=[]
def prime_numbers(num):
    for i in range(num[0]+1,num[1]):
        if prime(i)==True:
            num1.append(i)
            print(i)
prime_numbers(num)
print(num1)

# i = 11  n=i=+

11
13
17
19
23
29
[11, 13, 17, 19, 23, 29]

In [39]:
# 1,2,3=6

def perfect_number(n):
    result=0
    for i in range(1,n):
        if n%i==0:
            result=result+i
    
    print(True)
perfect_number(33)

True

In [40]:
#1+2+3+4+5=15
var=0
for i in range(1,6):
    var=var+i
print(var)

15

In [41]:
def even_sum(n):
    result1=0
    for i in range(n[0],n[1]+1):
        if i%2==0:
            result1=result1+i
    print(result1)
even_sum([1,10])

30

In [42]:
def odd_sum(n):
    result1=0
    for i in range(n[0],n[1]+1):
        if i%2!=0:
            result1=result1+i
    print(result1)
odd_sum([1,10])

25

In [43]:
def odd_numbers(num):
    result2=0
    i=num[0]
    while i<=num[1]:
        if i%2!=0:
            result2=result2+i
        i=i+1
    print(result2)
odd_numbers([1,10])

25

In [44]:
def fib(n):
    seq=[0,1]
    for i in range(2,n):
        fibo=seq[i-1]+seq[i-2]
        seq.append(fibo)
    return seq
fib(5)

[0, 1, 1, 2, 3]

In [46]:
def fibonacci(num):
    n1=0
    n2=1
    next=0
    for i in range(0,num):
        next=n1+n2
        n1=n2
        n2=next
    print('specific number',n1)
fibonacci(5)

# n1=0 n2=1 next=0 i=0 n1=0 next=0+1=1 n1=n2 0=1 n1=1 next=1

specific number 5

In [47]:
def prime(n):
    if n <= 1:
        return False
    for k in range(2, n):
        if n % k == 0:
            return False
    return True

num=20

def prime_numbers(num):
    for i in range(0,num):
        if prime(i)==True:
            print(i)
prime_numbers(num)

# i = 11  n=i=+

2
3
5
7
11
13
17
19

In [48]:
def digit_count(n):
    count=0
    while n>=1:
        n=n//10
        count=count+1
    print(count)
digit_count(12345678)

8

In [49]:
def armstrong(num):
    sum=0
    count=0
    temp=num
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=num
    while temp>0:
        digit=temp%10
        sum=sum+pow(digit,count)
        temp=temp//10
    if num==sum:
        print('armstrong')
    else:
        print('Not')
armstrong(153)

3
armstrong

In [50]:
num=153
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if num==sum:
    print('yes')
else:
    print('No')

yes

In [51]:
def armstrong(n):
    count=0
    sum=0
    temp=n
    while temp>0:
        digit=temp%10
        count=count+1
        temp=temp//10
    print(count)
    temp=n
    while temp>0:
        digit=temp%10
       # sum=sum+pow(digit,count)
        sum=sum+(digit**count)
        temp=temp//10
    if n==sum:
        print('yes')
    else:
        print('Not')
armstrong(153)

3
yes

In [52]:
n=3
n1=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(n1,end=" ")
        n1=n1+1
    print()

1
2 3
4 5 6

In [53]:
# 4!=3*2*1
#24
# 2+4=6

def fact(n):
    facto=1
    for i in range(1,n+1):
        facto=facto*i
    return facto
def sumoffactorial(n):
    factval=fact(n)
    res=0
    while factval>=1:
        digit=factval%10
        factval=(factval-digit)//10
        res=res+digit
    return res
print(sumoffactorial(5))
#print(fact(5))

3

In [54]:
def factorial(n):
    if n<1:
        return 1
    return n * factorial(n-1)
factorial(5)

120

In [55]:
def pallindrome(s):
    if s==s[::-1]:
        return True
    return False
pallindrome('racecar')

True

In [56]:
# SUBSTRING:= a whole string can be substring and part of string is called substring
# abc=a,b,c,ab,bc,abc
arr=[]
arr1=[]
arr2=[]
def sub_string(s):
    for i in s:
        arr.append(i)
    for j in range(0,len(arr)):
        if j%2==0: 
            arr1.append(arr[j])
        else:
            arr2.append(arr[j])
    return ''.join(arr1),''.join(arr2)
sub_string('abcd')

('ac', 'bd')

In [57]:
arr1=[]
def subarr(s):
    for i in range(0,len(s)):
        for j in range(i+1,len(s)+1):
            arr1.append(s[i:j])
            #print(s[i],s[j]
    return arr1
subarr('babad')

def pallindrome(arr1):
    longest_substring=''
    for i in arr1:
        if len(i)>=len(longest_substring) and i==i[::-1]:
            longest_substring=i
            if len(longest_substring)>1:
                
                print(longest_substring)
    #return longest_substring
pallindrome(arr1)
#print(arr1)

bab
aba

In [58]:
a=0
arr=[1,2,7,3]
for i in arr:
    if i>=a:
        a=i
print(a)

7

In [59]:
missing_nu=[]
def missing_number(seq):
    for i in range(1,seq[-1]+1):
        if i not in seq:
            missing_nu.append(i)
    return missing_nu
missing_number([1,4,10])

[2, 3, 5, 6, 7, 8, 9]

In [60]:
a=[1,4,6]
a[-1]

6

In [61]:
missing_nu=[]
def missing_number(seq):
    diff=seq[0]-0
    size=seq[-1]
    for i in range(0,len(seq)):
        if seq[i]-i!=diff:
            while diff<seq[i]-i:
                
                missing_nu.append(i+diff)
                diff=diff+1
    return missing_nu
missing_number([1,4,10])

[2, 3, 5, 6, 7, 8, 9]

In [62]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(2*i-1):
        print(j,end="")
    print()

    3
   222
  11111
 0000000
000000000

In [63]:
print(0/1)

0.0

In [64]:
# Print Pascal's Triangle in Python
from math import factorial

# input n
n = 5
for i in range(n):
    for j in range(n-i+1):

        # for left spacing
        print(end=" ")

    for k in range(i+1):

        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(k)*factorial(i-k)), end=" ")

    # for new line
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [65]:

def sentence(s):
    var=dict()
    for i in s:
        if i in var:
            var[i]=var[i]+1
        else:
            var[i] = 1     
    return var
sentence('sdq2abkjdsnklkfnsf ')

{'s': 3,
 'd': 2,
 'q': 1,
 '2': 1,
 'a': 1,
 'b': 1,
 'k': 3,
 'j': 1,
 'n': 2,
 'l': 1,
 'f': 2,
 ' ': 1}

In [66]:
# s='aaabbc'
# ans = "a3b2c1"
def s1(s):
    ans=""
    count = 1
    for i in range(0,len(s)-1):
        
        if s[i]==s[i+1]:
            count = count+1
        else:  
            ans = ans + s[i] +str( count)
            count = 1
    ans += s[-1] + str(count)
    return ans
s1('aaabccc')

'a3b1c3'

In [67]:
s='Hello World'
print(s.upper())

HELLO WORLD

In [2]:
# Finding the Median of an Array
import numpy as np
arr = [3, 1, 2, 4, 5] 
print(np.median(arr))

3.0

In [5]:
 
def find_median(arr):
    result=0
    for i in arr:
        result=result+i
    return result//len(arr)
find_median([3, 1, 2, 4, 5])

3

In [1]:
print('hello')

hello

In [2]:
a=6
b=3
print(a+b)

9